<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiahh.cartexam.generator.mapper.CollectMapper">
    <resultMap id="BaseResultMap" type="com.huiahh.cartexam.generator.entity.Collect">
        <id column="collect_id" jdbcType="INTEGER" property="collectId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="value_id" jdbcType="INTEGER" property="valueId"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
    </resultMap>
    <sql id="Base_Column_List">
    collect_id, user_id, value_id, type, add_time, update_time, deleted
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from exam_collect
        where collect_id = #{collectId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from exam_collect
    where collect_id = #{collectId,jdbcType=INTEGER}
  </delete>

    <insert id="insertSelective" parameterType="com.huiahh.cartexam.generator.entity.Collect">
        insert into exam_collect
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="collectId != null">
                collect_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="valueId != null">
                value_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="addTime != null">
                add_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="collectId != null">
                #{collectId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="valueId != null">
                #{valueId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=TINYINT},
            </if>
            <if test="addTime != null">
                #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <!--根据id实现部分更新-->
    <update id="updateByPrimaryKeySelective" parameterType="com.huiahh.cartexam.generator.entity.Collect">
        update exam_collect
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="valueId != null">
                value_id = #{valueId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=TINYINT},
            </if>
            <if test="addTime != null">
                add_time = #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=BIT},
            </if>
        </set>
        where collect_id = #{collectId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.huiahh.cartexam.generator.entity.Collect">
    update exam_collect
    set user_id = #{userId,jdbcType=INTEGER},
      value_id = #{valueId,jdbcType=INTEGER},
      type = #{type,jdbcType=TINYINT},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT}
    where collect_id = #{collectId,jdbcType=INTEGER}
  </update>
</mapper>