<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiahh.cartexam.generator.mapper.PaperMapper">
    <resultMap id="BaseResultMap" type="com.huiahh.cartexam.generator.entity.Paper">
        <id column="paper_id" jdbcType="INTEGER" property="paperId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="score" jdbcType="INTEGER" property="score"/>
        <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="allow_time" jdbcType="TIMESTAMP" property="allowTime"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
        <result column="course_id" jdbcType="INTEGER" property="courseId"/>
    </resultMap>
    <sql id="Base_Column_List">
    paper_id, user_id, score, begin_time, end_time, allow_time, add_time, update_time, 
    deleted, course_id
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from exam_paper
        where paper_id = #{paperId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from exam_paper
    where paper_id = #{paperId,jdbcType=INTEGER}
  </delete>

    <insert id="insertSelective" parameterType="com.huiahh.cartexam.generator.entity.Paper">
        insert into exam_paper
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="paperId != null">
                paper_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="score != null">
                score,
            </if>
            <if test="beginTime != null">
                begin_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="allowTime != null">
                allow_time,
            </if>
            <if test="addTime != null">
                add_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
            <if test="courseId != null">
                course_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="paperId != null">
                #{paperId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="score != null">
                #{score,jdbcType=INTEGER},
            </if>
            <if test="beginTime != null">
                #{beginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="allowTime != null">
                #{allowTime,jdbcType=TIMESTAMP},
            </if>
            <if test="addTime != null">
                #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=BIT},
            </if>
            <if test="courseId != null">
                #{courseId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.huiahh.cartexam.generator.entity.Paper">
        update exam_paper
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="score != null">
                score = #{score,jdbcType=INTEGER},
            </if>
            <if test="beginTime != null">
                begin_time = #{beginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="allowTime != null">
                allow_time = #{allowTime,jdbcType=TIMESTAMP},
            </if>
            <if test="addTime != null">
                add_time = #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=BIT},
            </if>
            <if test="courseId != null">
                course_id = #{courseId,jdbcType=INTEGER},
            </if>
        </set>
        where paper_id = #{paperId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.huiahh.cartexam.generator.entity.Paper">
    update exam_paper
    set user_id = #{userId,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      allow_time = #{allowTime,jdbcType=TIMESTAMP},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT},
      course_id = #{courseId,jdbcType=INTEGER}
    where paper_id = #{paperId,jdbcType=INTEGER}
  </update>
</mapper>